<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <title>Todo</title>
</head>

<body>
    <div class="container mt-5 col-md-6">
        <div class="card">
            <h2 class="card-header text-center">Todo</h2>
            <div class="card-body">
                <form action="/add" method="post" class="mb-3">
                    <div class="input-group">
                        <input type="text" name="task" class="form-control" placeholder="New task" required>
                        <button type="submit" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Add the New Task"><i class="bi bi-plus"></i> Add</button>
                    </div>
                </form>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="mt-4">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}                
                <ul class="list-group">
                    <li class="list-group-item mb-2"><i class="bi bi-list-task"></i> Task Lists</li>
                    {% for task in tasks|sort(attribute='done') %}
                    <li class="list-group-item d-flex justify-content-between align-items-center {% if task.done %}list-group-item-success{% endif %} mb-2">
                        {{ task.task }}
                        <span>
                            {% if not task.done %}
                            <a href="{{ url_for('complete', task_id=task._id) }}" class="btn btn-success btn-md" data-bs-toggle="tooltip" data-bs-placement="top" title="Complete the Task"><i class="bi bi-check2-all"></i></a>
                            {% endif %}
                            {% if task.done %}
                            <a href="{{ url_for('undo', task_id=task._id) }}" class="btn btn-primary btn-md" data-bs-toggle="tooltip" data-bs-placement="top" title="Undo the Task"><i class="bi bi-arrow-counterclockwise"></i></a>
                            {% endif %}
                            <a href="{{ url_for('delete', task_id=task._id) }}" class="btn btn-danger btn-md" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete the Task"><i class="bi bi-trash3-fill"></i></a>
                        </span>
                    </li>
                    {% endfor %}                    
                </ul>
            </div>
        </div>
    </div>
</body>

</html>
